.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: blanchedalmond !important;
}

ls .nav-bar {
  position: fixed !important;
  z-index: 1;
  width: 100vw;
}

.plan-a-trip {
  /* margin-top: 3vh; */
  background-color: rgba(245, 245, 245, 0.6);
  padding: 0.5vh 0 0.5vh 0;
  z-index: 3;
  position: absolute;
  margin-top: -90vh;
  margin-left: 40vw;
  border-radius: 1vw;
  padding: 0.5vw;
  padding-left: 1.2vw;
  letter-spacing: 0.5vw;
}

.search-form {
  height: 30vh;
  display: flex;
  justify-content: space-around;
  background-color: rgba(245, 245, 245, 0.6);
  width: 80vw;
  position: absolute;
  /* margin-top: 2vh;
  margin-left: 10vw; */
  border-radius: 2vw;
  margin-top: -80vh;
  margin-left: 10vw;
}

.going-to-input {
  width: 35vw;
  height: 6vh;
  font-size: 3vh;
  /* background-color: rgb(22, 22, 22); */
  color: black;
  margin-top: 6vh;
  position: relative;
}

.start-date-label {
  position: relative;
  margin-top: 2.5vh;
  margin-left: 2vw;
  font-size: 2vh;
  font-weight: bold;
}

.end-date-label {
  position: relative;
  margin-top: 2.5vh;
  margin-right: 0.7vw;
  font-size: 2vh;
  font-weight: bold;
}

.date-input {
  width: 15vw;
  height: 6vh;
  font-size: 3vh;
  /* background-color: rgb(22, 22, 22); */
  color: black;
  margin-top: 6vh;
  position: relative;
  margin-left: -10vw;
}

.submit-input {
  width: 20vw;
  height: 7vh;
  font-size: 3vh;
  background-color: rgb(42, 83, 219);
  color: whitesmoke;
  position: absolute;
  margin-top: 17vh;
  border-radius: 1vw;
  border-color: whitesmoke;
  margin-left: -46vw;
}

.map-container {
  height: 90vh;
}

video {
  width: 100%;
  height: 102.2vh;
}

.trip-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: right;
  overflow-y: auto;
  width: 46%;
  height: 90vh;
  overflow-x: hidden;
}

/* .trip-title-city-name {
  z-index: 25;
  position: flex;
  align-self: flex-start;
  margin-top: -48.6vh;
  color: white;
  background-color: rgba(0,0,0,.8);
} */

/* .trip-title-city-name {
  z-index: 5;
  position: relative;
  margin-top: 0vh;
  align-self: center;
  color: white;
  background-color: rgba(0,0,0,.8);
  width: 44.9%;
  overflow-y: scroll; 
} */

.trip-title-city-name {
  position: absolute;
  top: 3;
  background-color: rgba(0, 0, 0, 0.6);
  width: 44.9%;
  color: white;
  align-self: center;
}

/* .nav {
  position: absolute !important;
  top: 3 !important;
  background-color: yellow;
} */

/*.title {
  position: absolute;
  top: 60%;
  left: 100px;
  z-index: 6; 
}*/

.AddToListButton {
  position: absolute !important;
  bottom: 10px !important;
  right: 0 !important;
}

.days-nav-bar {
  width: 100%;
  position: sticky !important;
  top: 0 !important;
}

.plan-title {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.day-date {
  background-color: azure;
  height: 8vh;
  text-align: center;
  margin-bottom: -0.3vh;
  vertical-align: middle;
  padding: 1.5vh;
  border: solid black 0.2vw;
}

.remove-button {
  /* margin-right: -32vw; */
  border-radius: 0.5vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
  padding: 1vw;
}

.edit-button {
  border-radius: 0.5vw;
}

.edit-and-remove-buttons-div {
  /* background-color: blue; */
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
